# Agenda

1. Jupyter basics
2. NumPy
    - NumPy arrays
    - Data types (dtypes)
    - Operations, including broadcasting
    - Boolean/mask arrays
    - Sorting and retrieving data
    - 2D data (a little)
3. Pandas
    - Series and DataFrame (the two main Pandas data structures)
    - Setting and retrieving data
    - How are these different from NumPy data structures?
    - Indexes and columns
4. Grouping and sorting
5. Joining multiple data frames together
6. Memory usage and optimization of Pandas
7. Working with strings
8. Working with dates and times
9. Visualization of our data

# Jupyter

Jupyter is the latest evolution of IPython, a command-line replacement for the standard `python` interactive shell. It gives you the illusion that Python is running in your browser, and lets you run code in it. Really, though, there's a backend Python process that is running all of the code.

Jupyter handles code, but it also handles documentation in Markdown format (like I'm writing here), which lets us write HTML-formatted text easily.

The biggest thing to know about Jupyter is that it's based on *cells*. Right now, I'm typing into a cell. When you type into a cell, one of two things can happen, depending on the mode:

- In *edit mode*, which I'm in now, typing adds text to the current cell. You can enter edit mode by clicking in the cell or by pressing ENTER. This is how we add code and/or documentation.
- In *command mode*, anything we type (typically one-letter commands) is sent to Jupyter to give it instructions. You can enter command mode by clicking to the left of the cell or by pressing ESC.

We can *always* press shift+ENTER to execute the current cell, which means either running the Python code in it or turning the Markdown into nice looking HTML.

What commands do we have in command mode?
- `c` -- copies the current cell
- `x` -- cuts the current cell
- `v` -- pastes the most recent cut/copy
- `a` -- add a new, blank cell *above* the current one
- `b` -- add a new, blank cell *below* the current one
- `y` -- turn the current cell into a Python coding cell
- `m` -- turn the current cell into a Markdown documentation cell

# Preview of what we can do in Jupyter with Pandas

In [2]:
import pandas as pd

filename = '/Users/reuven/Downloads/public_emdat_2024-11-11.xlsx'

df = pd.read_excel(filename)

In [3]:
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0001-AGO,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2004-10-27,2023-09-25
4,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25